.App {
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.99), rgba(0, 0, 0, 0.3));
}

.App-header {
  background: url("./images/lightbowl-header-img.jpeg") top center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 10vh;
  display: flex;
  align-items: center;
}

.header__title {
  color: rgb(210, 157, 23);
  margin-left: 1rem;
  text-shadow: 0 0 4px black, 0 0 6px black;
}

.main__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 83vh;
  margin: 0 auto;
  text-align: center;
  overflow-y: auto;
}

.App-footer {
  background-color: black;
  height: 7vh;
}

.footer__title {
  text-align: right;
  padding: 1rem;
  color: rgb(210, 157, 23);
}

@media screen and (min-width: 768px) {
  .main__container {
    width: 60%
  }
}

@media screen and (min-width: 1024px) {
  .main__container {
    width: 40%;
    max-width: 80rem;
  }
}
